.app {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: lightgray;
    flex-direction: row;
}

.app_kyc {
    width: 65vw;
    height: 80vh;
    border-radius: 20px;
    background-color: white;
    display: flex;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

@media (max-width: 768px) {
    .app_kyc {
        flex-direction: column;
    }
}
